*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #3652AD;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #3652AD;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

/* a.tbl-biru{
    background: #637A9F;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #0C2D57;
    text-decoration: none;
}

a.tbl-pink{
    background: #0C2D57;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background: #637A9F;
    text-decoration: none;
} */

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.pelatih-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    width: 110%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

td, img {
    width: 300px;
    height: 250px;
    float: center;
    margin: 5px;
}

th {
    background-color: #4CAF50;
    color: white;
}

.pemain-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

ul, ol, li {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}